<div class="footer">
    <img class="img-fluid mx-auto d-block" id="footer-pic" src="~/img/row-of-shops.png"/>
    <nav id="navbar-bottom" class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact Us</a>
            </li>
        </ul>
        <span class="navbar-text" id="nav-copy">
            © 2017
        </span>
    </nav>
</div>