<nav id="navbar-top" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Yodel</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/@ViewBag.User.UserId/settings">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/@ViewBag.User.UserId/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search">Search Yodel</a>
        </li>
    </ul>
</nav>
<!-- fixed-top -->