<nav id="navbar-top" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="/">Yodel</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="nav-1" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a id="nav-2" class="nav-link" href="/users/@ViewBag.User.UserId/settings">Account</a>
        </li>
        <li class="nav-item">
            <a id="nav-3" class="nav-link" href="/users/@ViewBag.User.UserId/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a id="nav-4" class="nav-link" href="/search">Search Yodel</a>
        </li>
    </ul>
    <span id="navbar-span" class="font-italic navbar-text">
    We've got just the place
    </span>
</nav>
<!-- fixed-top -->