<h3>Business Name</h3>
<form>
    <input type="checkbox" value="1" name="star">1
    <input type="checkbox" value="2" name="star">2
    <input type="checkbox" value="3" name="star">3
    <input type="checkbox" value="4" name="star">4
    <input type="checkbox" value="5" name="star">5<br><br>
    <textarea name="review" rows="6" cols="70" placeholder="Please don't review this business if you received a freebie for writing this review, or if you're connected in any way to the owner or employees."></textarea><br>
    <input type="submit" value="Post Review">
</form>
<hr>
<a href="/">Home</a>