/*Write all of your CSS here*/

/* Bootstrap for login-reg form */

#regContainer{
    margin-top: 3%;  
}
#login-form label,
#register-form label {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 0px;
}
.panel-login {
    border-color: #ccc;
     background-color: #f9f8f8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    font-size: 34px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color:var(--orange);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--orange);
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}
.btn-register {
    background-color: var(--orange);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--orange);
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://wallpaperscraft.com/image/cliff_rock_sky_stones_118000_1600x1200.jpg');
    background-repeat:repeat;
  }

.panel-heading a{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.panel-heading a{
    background: -webkit-repeating-linear-gradient(-45deg, 
    rgb(245, 97, 32) , 
    rgb(247, 125, 45) 20px, 
    rgb(250, 154, 58) 20px, 
    rgb(252, 183, 71) 40px, 
    rgb(255, 212, 84) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* navbar color options */
.navbar-color {
    background-color:#3D9DB3;
    color: #fff;
    border-color: #2d92a9;
}




/* Landing Page CSS */
/*!
 * Start Bootstrap - Landing Page v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      header.masthead h1 {
        font-size: 3rem; } }

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

/* CSS for rest of homepage */
#home-header {
    background-color:var(--pink);
    padding: 2rem;
    /* opacity: 0.7; */
    /* margin-left: 12rem; */
}

#header-logo {
    width: 200px;
    height: 150px;
    opacity: 0.9;
    /* background-color:#e9ecef; */
    margin-left: 20rem;
}

#log-reg-button {
    /* background-color: var(--yellow); */
    border-color: var(--orange);
    color: white;
    border-radius: 2px;
}

#header-logout-button {
    border-color: var(--lightblue);
    color: white;
    border-radius: 2px;
}
#header-city-search {
    border-color: var(--purple);
    color: black;
}

#header-cat-search {
    border-color: var(--purple);
    color: black;
}

#review-header {
    color: black;
}

.upload_img {
    width: 100%;
}
.btn-orange {
    background-color: var(--orange);
    color: white;
}
.background-rounded {
    background-color: var(--gray);
    border-color: var(--orange);
    border-radius: 8px;
}

#index-container {
    background-color: var(--lightblue);
    padding: 4rem;
}

.home-row {
    padding: 1rem;
}

#prof-container {
    background-color: var(--lightblue);
    padding: 4rem;
    margin: 0;
    border: 0;
}
#settings {
    background-color: var(--lightblue);
    padding: 3rem;
    margin: 0;
    border: 0;
}

#settings-welcome {
    padding: 5px;
}

#new-biz-container, #biz-container, #review-container {
    background-color: var(--lightblue);
    /* padding: 4rem; */
    margin: 0;
    border: 0;
}

/* #biz-container {
    background-color: var(--lightblue);
    /* padding: 4rem; */
    margin: 0;
    border: 0;
} */

.text-orange {
    color: var(--orange);
}
.text-lightorange {
    color: var(--lightorange);
}
.text-darkorange {
    color: var(--darkorange);
}
.text-purple {
    color: var(--purple);
}
.text-green {
    color: var(--green);
}
.text-lightblue {
    color: var(--lightblue);
}
.text-yellow {
    color: var(--yellow);
}
.text-pink {
    color: var(--pink);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
:root{
    --blue:var(--pink);
    --indigo:#6610f2;
    --purple:#4a2156;
    --pink:#bc2731;
    --red:#F04124;
    --orange:#f56120;
    --lightorange: #fdb797;
    --darkorange: #F04124;
    --yellow:#ffd454;
    --green:#3c6e2e;
    --teal:#20c997;
    --cyan:#5bc0de;
    --lightblue: #e4f3f5;
    --white:#fff;
    --gray:#888;
    --gray-dark:#333;
    --primary:var(--pink);
    --secondary:#eee;
    --success:#43ac6a;
    --info:#5bc0de;
    --warning:#E99002;
    --danger:#F04124;
    --light:#eee;
    --dark:#222;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:
        "Open Sans", 
        -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        "Helvetica Neue", 
        Arial, 
        sans-serif, 
        "Apple Color Emoji", 
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-family-monospace:
        "SFMono-Regular", 
        Menlo, 
        Monaco, 
        Consolas, 
        "Liberation Mono", 
        "Courier New", 
        monospace
}

.btn-outline-primary {
    color: var(--pink);
    background-color: transparent;
    background-image: none;
    border-color: var(--pink);
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--pink);
  }
  
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
  }
  
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--pink);
    background-color: transparent;
  }
  
  .btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--pink);
    border-color: var(--pink);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
  }

.jumbotron {
padding: 2rem 2rem;
/* margin-bottom: 2rem; */
background-color: var(--yellow);
border-radius: 0;
}

#navbar-bottom a {
    margin: 20px;
}

#settings {
    background-color: var(--lightblue);
}

#settings-review {
    padding: 2rem;
}

#city-container {
    padding: 2rem;
    background-color: var(--lightblue);
}

#test1 {
    padding: 1rem;
}

#test2 {
    padding: 2rem;
}

#footer-pic {
    width: 30%;
    /* margin-top: 3%; */
}

#navbar-top {
    /* background: #0069AA; */
    margin: 0;
    margin-bottom: 0px;
    border: 0;
    /* background-color: var(--pink); */
}

#navbar-span {
    color: var(--green);
}

#nav-1, #nav-2, #nav-3, #nav-4 {
    color: var(--purple);
}

#accordion {
    width: 50%;
}