<h2>@ViewBag.User.FirstName</h2>

<h3>@ViewBag.User.ZipCode</h3>

@if(ViewBag.UserReviews != null)
{
    <h5>Recent reviews:</h5>
    @foreach (var review in ViewBag.User.Reviews)
    {
        <p>@review.ReviewText</p>
    }
}
else 
{
    <p>No recent activity</p>
}
<hr>
