<p>Made it to inner category search</p>

<form>
    <select name="category">
        <option value="example">Example</option>
    </select>
    <input type="submit" value="Filter results">
</form>
<h3>Results</h3>

@if(ViewBag.noResults != null)
{
    <p>@ViewBag.noResults</p>
}
<form>
    <input type="submit" asp-action="NewBiz" asp-controller="Business" value="Add a business">
</form>
<hr>
