<p>Made it to inner city search</p>

<form>
    <select name="city">
        <option value="example">Example</option>
    </select>
    <input type="submit" value="Filter results">
</form>
<hr>
<h3>Results</h3>

@if(ViewBag.noResults != null)
{
    <p>@ViewBag.noResults</p>
}
<a href="/">Home</a>